.page[b-gk9azpv4sx] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-gk9azpv4sx] {
    flex: 1;
}

.sidebar[b-gk9azpv4sx] {
    background-color: #7f7f7f;
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, #000000, #000000 10.5px, #7f7f7f 10.5px, #7f7f7f 52.5px );
}

.top-row[b-gk9azpv4sx] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-gk9azpv4sx]  a, .top-row .btn-link[b-gk9azpv4sx] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-gk9azpv4sx] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-gk9azpv4sx] {
        display: none;
    }

    .top-row.auth[b-gk9azpv4sx] {
        justify-content: space-between;
    }

    .top-row a[b-gk9azpv4sx], .top-row .btn-link[b-gk9azpv4sx] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-gk9azpv4sx] {
        flex-direction: row;
    }

    .sidebar[b-gk9azpv4sx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-gk9azpv4sx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-gk9azpv4sx], article[b-gk9azpv4sx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
