.navbar ul[b-3qkxyhumpy],
.navbar li[b-3qkxyhumpy] {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar[b-3qkxyhumpy] {
    background-color: #515151;
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, #000000, #000000 10px, #515151 10px, #515151 50px );
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-brand[b-3qkxyhumpy] {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links[b-3qkxyhumpy] {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-links ul[b-3qkxyhumpy] {
    display: flex;
    justify-content: center;
}

.navbar-links li[b-3qkxyhumpy] {
    margin-left: 15px;
}

.navbar-links a[b-3qkxyhumpy] {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar-links a:hover[b-3qkxyhumpy] {
    background-color: #555;
    border-radius: 5px;
}

.navbar-link[b-3qkxyhumpy] {
    color: white;
}

@media (max-width: 768px) {
    .navbar[b-3qkxyhumpy] {
        flex-direction: column;
        text-align: center;
    }

    .navbar-links[b-3qkxyhumpy] {
        flex: none;
        margin-top: 10px;
    }

    .navbar-links ul[b-3qkxyhumpy] {
        flex-direction: row; 
    }

    .navbar-brand[b-3qkxyhumpy] {
        position: static; 
    }
}