@inherits LayoutComponentBase

<PageTitle>MailLobbyer</PageTitle>
<NavMenu />
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Footer />
