@inherits LayoutComponentBase

<PageTitle>MailLobbyer</PageTitle>
<div class="background">

    <NavMenu />

    <div class="page">
        <main>
            <article class="content-body">
                @Body
            </article>
        </main>
    </div>

    <Footer />
</div>


