.navbar ul,
.navbar li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    background-color: #515151;
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, #000000, #000000 10px, #515151 10px, #515151 50px );
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-links ul {
    display: flex;
    justify-content: center;
}

.navbar-links li {
    margin-left: 15px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

.navbar-link {
    color: white;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar-links {
        flex: none;
        margin-top: 10px;
    }

    .navbar-links ul {
        flex-direction: row; 
    }

    .navbar-brand {
        position: static; 
    }
}