.navbar ul,
.navbar li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    background: rgb(0,0,0, 0.9);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.185);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand img {
    max-width: auto;
    max-height: 8vh;
    
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-links ul {
    display: flex;
    justify-content: center;
}

.navbar-links li {
    margin-left: 15px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar-links a:hover {
    background-color: rgba(80, 80, 80, 0.9);
    border-radius: 5px;
}

.navbar-link {
    color: white;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar-links {
        flex: none;
        margin-top: 10px;
    }

    .navbar-links ul {
        flex-direction: row; 
    }

    .navbar-brand {
        position: static; 
    }
}