@page "/About"

<PageTitle>About</PageTitle>

<div class="about-block">
    <h1 class="about-h1">About:</h1>
    <div class="about-content">
        <img class="about-logo" src="favicon.svg">
        <p>MailLobbyer-Free is a CSV-based group emailing solution with SMTP integration.</p>
    </div>
</div>

<div class="about-block">

    <h1 class="about-h1">Contact:</h1>
    <div class="about-content">
        <p>If you have any questions, feedback, or bug reports, please feel free to reach out to me:</p>
    </div>
    
    <div class="about-list-container">
        <ul class="about-list">
            <li>
                <a href="mailto:peterhamilton522@gmail.com" aria-label="Email: peterhamilton522@gmail.com">Email</a>
            </li>
            <li>
                <a href="https://github.com/Pa1yn-dev" aria-label="GitHub">GitHub</a>
            </li>
        </ul>
    </div>  
</div>



