@page "/About"

<PageTitle>About</PageTitle>

<h1 class="page-title">About</h1>

    <h2>Contact</h2>
    <p>If you have any questions, feedback or bug reports, please feel free to reach out to me:</p>
    <ul>
        <li><a href="mailto:peterhamilton522@gmail.com">Email</a></li>
        <li><a href="https://github.com/Pa1yn-dev">Github</a></li>
    </ul>

    <footer>
        &copy; 2023 MailLobbyer. All rights reserved.
    </footer>