@page "/"
@using MailLobbyer.CSVServiceComponent
@using MailLobbyer.CSVFileClass

<PageTitle>Index</PageTitle>

<h1 class="page-title">Home</h1>

<form @onsubmit="FormSubmitHandler">
    <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" class="form-control" @bind="subject" />
    </div>

    <div class="form-group">
        <label for="body">Body:</label>
        <textarea id="body" class="form-control" @bind="body"></textarea>
    </div>

    <div class="form-group">
        <label>Exclude:</label>
        <input type="text" id="exclude" class="form-control" @bind="exclude" />
    </div>

    <div class="form-group">
        <label for="contactGroup">Contact Group:</label>
        <select id="contactGroup" class="form-control" @bind="selectedgroup">
    @foreach (CSVFile csvfile in csvserviceinstance.CSVFilesindir)
    {
        <option value="@csvfile.Filepath">@csvfile.Filename</option>

    }
</select>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</form>

@code {

    private string subject;
    private string body;
    private string exclude;
    private string selectedgroup;

    private CSVService csvserviceinstance;


        protected override void OnInitialized()
        {
            csvserviceinstance = new CSVService();
        }

    private async Task FormSubmitHandler()
    {
        IConfiguration configuration = new ConfigurationBuilder()
            .SetBasePath(Directory.GetCurrentDirectory())
            .AddJsonFile("appsettings.json")
            .Build();

        EmailHandlerComponent.EmailHandler emailHandler = new EmailHandlerComponent.EmailHandler(configuration);
        await emailHandler.SendEmailAsync("","", subject, body);
    }

}