@page "/"


<PageTitle>Index</PageTitle>

<h1 class="page-title">Home</h1>

<form @onsubmit="FormSubmitHandler">
    <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" class="form-control" @bind="subject" />
    </div>

    <div class="form-group">
        <label for="body">Body:</label>
        <textarea id="body" class="form-control" @bind="body"></textarea>
    </div>

    <div class="form-group">
        <label for="contactGroup">Select Contact Group:</label>
        <input type="file" @onchange="FileSelectionHandler" />
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</form>

@code {

    private string subject;
    private string body;
    private IBrowserFile selectedfile;

    private void  FileSelectionHandler(InputFileChangeEventArgs e)
    {
        selectedfile = e.File;
    }


    private async Task FormSubmitHandler()
    {
        IConfiguration configuration = new ConfigurationBuilder()
            .SetBasePath(Directory.GetCurrentDirectory())
            .AddJsonFile("appsettings.json")
            .Build();
            
        CSVParserComponent.CSVParser csvparser = new CSVParserComponent.CSVParser();
        await csvparser.CSVReader(selectedfile);

        EmailHandlerComponent.EmailHandler emailhandler = new EmailHandlerComponent.EmailHandler(configuration);
        await emailhandler.SendEmailAsync("","", subject, body);
    }

}