@page "/"

<PageTitle>Index</PageTitle>

<h1 class="page-title">Home</h1>

<form @onsubmit="FormSubmitHandler">
    <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" class="form-control" @bind="subject" />
    </div>

    <div class="form-group">
        <label for="body">Body:</label>
        <textarea id="body" class="form-control" @bind="body"></textarea>
    </div>

    <div class="form-group">
        <label>Exclude:</label>
        <input type="text" id="exclude" class="form-control" @bind="exclude" />
    </div>

    <div class="form-group">
        <label for="contactGroup">Contact Group:</label>
        <select id="contactGroup" class="form-control">
            <option value="group1">Group 1</option>
            <option value="group2">Group 2</option>
            <option value="group3">Group 3</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</form>

@code {

    private string subject;
    private string body;
    private string exclude;

    private async Task FormSubmitHandler()
    {
        IConfiguration configuration = new ConfigurationBuilder()
            .SetBasePath(Directory.GetCurrentDirectory())
            .AddJsonFile("appsettings.json")
            .Build();

        EmailHandlerComponent.EmailHandler emailHandler = new EmailHandlerComponent.EmailHandler(configuration);
        await emailHandler.SendEmailAsync("","", subject, body);
    }

}