/* _content/MailLobbyer/Shared/Footer.razor.rz.scp.css */
.footer[b-xujzwtudf5] {
    background: repeating-linear-gradient( -45deg, #000000, #000000 10px, rgb(80, 80, 80) 10px, rgb(80, 80, 80) 50px );
    padding: 10px;
    position: static;
    
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    border-top: 2px solid rgba(0, 0, 0, 0.8);
    flex-shrink: 0;
}
.footer-text[b-xujzwtudf5] {
    margin-top: 10px;
    margin-bottom: 10px; 
    color: white; 
    text-align: center; 
    display: flex; 
    align-items: center;
    font-size: smaller;
    font-weight: medium;
}
/* _content/MailLobbyer/Shared/MainLayout.razor.rz.scp.css */
.page[b-gk9azpv4sx] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-gk9azpv4sx] {
    flex: 1;
}

.top-row[b-gk9azpv4sx] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-gk9azpv4sx]  a, .top-row .btn-link[b-gk9azpv4sx] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-gk9azpv4sx] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-gk9azpv4sx] {
        display: none;
    }

    .top-row.auth[b-gk9azpv4sx] {
        justify-content: space-between;
    }

    .top-row a[b-gk9azpv4sx], .top-row .btn-link[b-gk9azpv4sx] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-gk9azpv4sx] {
        flex-direction: row;
    }

    .sidebar[b-gk9azpv4sx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-gk9azpv4sx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-gk9azpv4sx], article[b-gk9azpv4sx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/MailLobbyer/Shared/NavMenu.razor.rz.scp.css */
.navbar ul[b-3qkxyhumpy],
.navbar li[b-3qkxyhumpy] {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar[b-3qkxyhumpy] {
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, #000000, #000000 10px, rgb(80, 80, 80) 10px, rgb(80, 80, 80) 50px );
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.185);
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.navbar-brand[b-3qkxyhumpy] {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links[b-3qkxyhumpy] {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-links ul[b-3qkxyhumpy] {
    display: flex;
    justify-content: center;
}

.navbar-links li[b-3qkxyhumpy] {
    margin-left: 15px;
}

.navbar-links a[b-3qkxyhumpy] {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar-links a:hover[b-3qkxyhumpy] {
    background-color: #555;
    border-radius: 5px;
}

.navbar-link[b-3qkxyhumpy] {
    color: white;
}

@media (max-width: 768px) {
    .navbar[b-3qkxyhumpy] {
        flex-direction: column;
        text-align: center;
    }

    .navbar-links[b-3qkxyhumpy] {
        flex: none;
        margin-top: 10px;
    }

    .navbar-links ul[b-3qkxyhumpy] {
        flex-direction: row; 
    }

    .navbar-brand[b-3qkxyhumpy] {
        position: static; 
    }
}
